%footer
	.container
		.row
			.col-lg-6
				%p.no-margin-bottom
					© 2013 Eternal Contrast info@eternalcontrast.com +1.970.396.3943 
			.col-lg-6
				%p.no-margin-bottom.text-right
					%a{href:"mailto:alauderdale@mac.com"}
						%i.icon-envelope.half-margin-right
						Let's Chat