%nav.menu-drop
  %a.text-center{:href=>"wli.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1
              Wealth Legacy Institute
  %a.text-center{:href=>"outflow.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1
              Outflow
  %a.text-center{:href=>"mianzi.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1
              mianzi bike co
          