%nav.menu-drop
  %a.text-center{:href=>"#"}  
    %section
      .container
        .row
          .com-md-12
            %h1
              Wealth Legacy Institute
  %a.text-center{:href=>"#"}  
    %section
      .container
        .row
          .com-md-12
            %h1
              Outflow
  %a.text-center{:href=>"#"}  
    %section
      .container
        .row
          .com-md-12
            %h1
              mianzi bike co
  %a.text-center{:href=>"#"}  
    %section
      .container
        .row
          .com-md-12
            %h1
              Homelessness Prevention Initiative
          