%nav.menu-drop
  .container.double-padding-top.double-padding-bottom
    .row
      .col-lg-3
      .col-lg-6
        %ul.inline.text-center.no-padding-left.double-margin-bottom
          %li.text-center
            %a{:href=>"index.html"} 
              Home
          %li.text-center
            •
          %li.text-center
            %a{:href=>"about.html"} 
              About Me
          %li.text-center
            •
          %li.text-center
            %a{:href=>"mailto:alauderdale@mac.com"} 
              Contact
        .divider
      .col-lg-3
  .container
    .row
      %p.text-center.bold-font-name
        CASE STUDIES
  %a.text-center{:href=>"makeena.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1.no-margin-bottom
              makeena
            %p
              Branding, Web Design, Style Guide, UX
  %a.text-center{:href=>"wli.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1.no-margin-bottom
              Wealth Legacy Institute
            %p
              Branding, Web Design, Style Guide, UX
  %a.text-center{:href=>"outflow.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1.no-margin-bottom
              Outflow
            %p
              Branding, Web Design, UX
  %a.text-center{:href=>"mianzi.html"}  
    %section
      .container
        .row
          .com-md-12.no-margin-bottom
            %h1
              mianzi bike co
            %p
              Custom Logotype
  %a.text-center{:href=>"sites.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1.no-margin-bottom
              Sites I've Build
            %p
              Web Design, Development, UX
  %a.text-center{:href=>"chronotrack.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1.no-margin-bottom
              Chronotrack Live
            %p
              Web Design
  %a.text-center{:href=>"ucps.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1.no-margin-bottom
              Union Colony Preperatory School
            %p
              Web Design, UX
  %a.text-center{:href=>"logos.html"}  
    %section
      .container
        .row
          .com-md-12
            %h1.no-margin-bottom
              Select Logos
            %p
              Branding
  .container.double-margin-top
    .row
      .col-lg-3
      .col-lg-6
        .divider
      .col-lg-3
  .container.double-padding-top.double-padding-bottom
    .row
      .col-lg-3
      .col-lg-6
        %ul.inline.text-center.no-padding-left.double-margin-bottom.social-menu
          %li.text-center
            %a{:href=>"http://www.dribbble.com/alauderdale10"} 
              %i.icon-dribbble
          %li.text-center
            %a{:href=>"http://www.twitter.com/alauderdale10"} 
              %i.icon-twitter
          %li.text-center
            %a{:href=>"http://www.github.com/alauderdale"} 
              %i.icon-github
      .col-lg-3

          