.macbook-bg
	#carousel-macbook.carousel.slide
		.carousel-inner
			.item.active
				%img.full-width{:alt => "...", :src => "images/evercheck/old_4.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/old_2.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/old_3.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/old_1.png"}
		%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-macbook"}
		%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-macbook"}