
.app-bg
	#carousel-app.carousel.slide
		.carousel-inner
			.item.active
				%img.full-width{:alt => "...", :src => "images/evercheck/app_1.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_2.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_3.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_4.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_5.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_6.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_8.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_9.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_10.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/app_11.png"}

		%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-app"}
		%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-app"}