.browser-bg
	#carousel-browser.carousel.slide.carousel-fade
		.carousel-inner
			.item.active
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_1.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_2.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_3.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_4.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_5.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_6.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_7.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_8.png"}
			.item
				%img.full-width{:alt => "...", :src => "images/evercheck/ui_9.png"}

		%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-browser"}
		%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-browser"}