%section.invert-section{:style=>"background: #001527 0 -287px;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center.white-text
					%h1.double-margin-bottom
						Chronotrack Live
					%img.text-center.triple-margin-bottom{src:"images/chronotrack_tag_sm.png"}
					.clearfix
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"chronotrack.html"}
						View The Case Study
			.col-md-2