%section.invert-section{:style=>"background:#3b3e47 url(images/logo_teaser.png) no-repeat 780px -160px"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Logos
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"logos.html"}
						View The Case Study
			.col-md-2