%section.invert-section{:style=>"background-color:#ef7738;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Makeena
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"makeena.html"}
						View The Case Study
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width{:src=>"images/makeena_app_teaser.png"}
			.col-md-1