%section.invert-section.work-menu-item{:style=>"background: url(images/mianzi_bg.jpg)#bd5327 0 -287px;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center.white-text
					%h1.double-margin-bottom
						mianzi bike co
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"mianzi.html"}
						View The Case Study
			.col-md-2