%section.invert-section.work-menu-item{:style=>"background-color:#f33a2c;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Outflow
					%img.full-width.double-margin-bottom{:src=>"images/outflow_teaser.png"}
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"outflow.html"}
						View The Case Study
			.col-md-2