%section.invert-section.work-menu-item{:style=>"background-color:#7c328f;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Recruit U
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"recruit-u.html"}
						View The Case Study
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width{:src=>"images/recruit_u/phones.png"}
			.col-md-1