%section.invert-section.work-menu-item{:style=>"background: url(images/ucps_ipad.png) no-repeat center bottom #0055a5"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center.white-text
					%h1.double-margin-bottom
						Union Colony Preperatory School
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"ucps.html"}
						View The Case Study
			.col-md-2