%section.invert-section.no-padding-bottom.work-menu-item{:style=>"background-color:#008ac0;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Wellhire
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"wellhire.html"}
						View The Case Study
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width{:src=>"images/wellhire/wellhire_screen.png"}
			.col-md-1