%section.invert-section.no-padding-bottom{:style=>"background-color:#cbb778;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Wealth Legacy Institute
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"wli.html"}
						View The Case Study
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width{:src=>"images/wli_teaser.png"}
			.col-md-1