%section.primary-bg.invert-section.no-padding-bottom{style:"background-image:url(images/about_bg.jpg);"}
	.container
		.row
			.col-md-6.col-sm-6
				%img.max-width.no-margin-bottom{:src=>"images/me.png"}
			.col-md-6.col-sm-6
				%h1
					Me
				%h3.double-margin-bottom
					I’m 26, I live in colorfull Colorado. I love to make beautiful things. I've been designing and building the web full time for 
					%strong
						4 years.
				%a.btn.btn-xl.btn-default.btn-invert.double-margin-bottom#see{:href=>"makeena.html"}
					See One of My Favorite Projects
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						I Solve Products
					%h3.triple-margin-bottom.no-margin-bottom
						While I love making things look nice, I also like making them work. I believe in a systematic design approach. Your product deserves more than a pretty face. Let's build a something with rhyme and reason.  
			.col-md-2
		.row
			.col-md-12
				.text-center
					%img.max-width.triple-margin-top{:src=>"images/about_graphic.jpg"}
%section
	.container
		.row
			.col-md-12
				%blockquote.primary-text-color.text-center{:style=>"background-color:#464646;"}
					“Design is not the narrow application of formal skills, it is a way of thinking.”
= partial "layouts/dribbble"