%section.invert-section.bg-cover{:style=>"background-image:url(images/chronotrack_bg.jpg); background-position:bottom bottom;"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Timing is 
							%br
							Everything
						%h3
							A new look for a trusted company
						.divider
		.row
			.col-md-8.col-sm-8
				%h4
					About the project
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis. 
			.col-md-4.col-sm-4
				%h4
					Our role
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						A Blueprint for Success
					%h3
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.triple-margin-top{:src=>"images/chronotrack_blueprint.jpg"}
			.col-md-1
%section.invert-section.no-padding-bottom{:style=>"background:#001527 url(images/chronotrack_logo_bg.png) top center no-repeat;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						The Next Generation Race Platform
					%h3
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat 
			.col-md-2
		.row
			.col-md-2
			.col-md-8
				%img.full-width.triple-margin-top{:src=>"images/chronotrack_site.png"}
			.col-md-2
%section.no-padding-bottom
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Overview Pages
					%h3
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat 
			.col-md-2
		.row
			.col-md-12
				%img.full-width.triple-margin-top{:src=>"images/chronotrack_overview.jpg"}
%section.invert-section{:style=>"background:#fc9b4e;"}
	.container
		.row
			.col-md-5.col-sm-5
				%img.max-width.double-margin-bottom.pull-right.margin-top{:src=>"images/chronotrack_tag_large.png"}
			.col-md-1.col-sm-1
			.col-md-6.col-sm-6
				%img.margin-bottom{:src=>"images/chronotrack_knife.png"}
				%div
					%h2
						Cutting Edge Technology
					%p.double-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat 
					%a.btn.btn-xl.btn-default.btn-invert.double-margin-bottom{:href=>"#work"}
						View The Site