%section.invert-section{style: "background-color:#215589;"}
  .container
    .row.triple-margin-bottom
      .col-md-12
        .margin-bottom
          .text-center
            %h1
              A Total Overhaul
            %h3
              Reimaging the way people monitor
            .row
              .col-lg-2
              .col-lg-8
                %img.max-width.no-margin-bottom.margin-top{src: "images/evercheck/product_overview.png"}
                .col-lg-2
              .clearfix
              .divider
    .row
      .col-md-6.col-sm-6
        %h4
          About the project
        %p
          Wellhire is a innovative piece of software with simple offerings. The company makes hiring a breeze through online assessments. I was hired by wellhire to design a new look and feel for the product.
      .col-md-6.col-sm-6
        %h4
          My Role
        %p
          I worked with wellhire to completly re-design and re-build their product. We aimed to preserve popular functionality and highlight new features through a shiny new interface system.
%section
  .container
    .row
      .col-md-2
      .col-md-8
        .text-center
          %h2.margin-top
            The challenge
          %h3.no-margin-bottom
            Some examples of the desktop experience before we started.
      .col-md-2
    .row
      .col-md-1
      .col-md-10
        =partial"sliders/slider_old_prod"
      .col-md-1
    .row
      .col-md-3
      .col-md-6
        %p
          Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
      .col-md-3
%section.grid-bg
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Room for all
          %h3
            Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
      .col-sm-2
    .row
      .col-md-12
        %img.full-width.double-margin-top{src: "images/evercheck/wires.png"}
%section{style: "background-color:#F9F9FB;"}
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Reusable Components
          %h3
            Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
      .col-sm-2
    .row
      .col-sm-1
      .col-sm-10.text-center
        %img.margin-auto.triple-margin-bottom.triple-margin-top.img-responsive{src: "images/evercheck/components_1.png", :style=>"right:40px; position:relative;"}
        %img.margin-auto.img-responsive{src: "images/evercheck/components_2.png"}
      .col-sm-1
%section
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Putting it all Together
          %h3.no-margin-bottom
            Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
      .col-sm-2
    .row
      .col-md-12
        =partial"sliders/slider_new_prod"
%section.no-padding-top
  .container
    .row.margin-bottom
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            UI Guide
          %h3
            Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
      .col-sm-2
    .row
      .col-md-2
      .col-md-8.text-center
        %img.margin-auto.triple-margin-top.img-responsive{src:"images/evercheck/ui_guide.png"}   
      .col-md-2 
%img.margin-auto.img-responsive{style:"margin-bottom:-28px;",src:"images/evercheck/illustration_app.png",:width=>"236px"} 
%section.invert-section{style: "background-color:#145B96;"}
  .app-bg-bg
    .container
      .row.margin-bottom
        .col-sm-2
        .col-sm-8
          .text-center
            %h2
              The App
            %h3
              Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
        .col-sm-2
      .row
        .col-md-3
        .col-md-6
          =partial"sliders/slider_ec_app"
        .col-md-3
%section
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Who Said Software Isn’t Any Fun?
          %h3
            Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
      .col-sm-2
    .row.double-margin-top
      .col-sm-12.text-center
        %img.margin-auto.img-responsive{src: "images/evercheck/illustration_home.png"}
    .row.triple-margin-top
      .col-sm-1
      .col-sm-10
        %img.margin-auto.img-responsive{src: "images/evercheck/page_home.png"}
      .col-sm-1
%section
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Overview
          %h3
            Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
      .col-sm-2
    .row.double-margin-top
      .col-sm-1
      .col-sm-10.text-center
        %img.margin-auto.img-responsive{src: "images/evercheck/illustration_overview.png"}
      .col-sm-1
    .row.triple-margin-top
      .col-sm-1
      .col-sm-10
        %img.margin-auto.img-responsive{src: "images/evercheck/page_overview.png"}
      .col-sm-1
%section
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Even More...
      .col-sm-2
    .row.double-margin-top
      .col-sm-2
      .col-sm-8.text-center
        %img.margin-auto.img-responsive{src: "images/evercheck/illustrations_even_more.png"}
      .col-sm-2
    .row.triple-margin-top
      .col-sm-1
      .col-sm-10
        %img.margin-auto.img-responsive{src: "images/evercheck/pages_even_more.png"}
      .col-sm-1
= partial "layouts/work_slider"