%section.primary-bg.invert-section
	.container
		.row
			.col-md-8.col-sm-8
				%h1
					Strikingly Different
					%br
					From the Rest
				%h3.double-margin-bottom
					We are a design company in Boulder, CO.
					%br 
					We offer web development & design services.
				%a.btn.btn-xl.btn-default.btn-invert.double-margin-bottom{:href=>"#work"}
					See Our Work
			.col-md-4.col-sm-4
				%img.max-width{:src=>"images/wire.png"}
%section
	.container
		.row.double-margin-bottom
			.col-md-1.col-sm-1
			.col-md-10.col-sm-10
				.text-center
					%h2
						Imagine a better web.
					%h3
						We love the internet! We specialize in web and mobile design. If you need, we can build things to. 
			.col-md-1.col-sm-1
		.row
			.col-md-4.col-sm-4
				.padded
					%img.margin-bottom.home-icon{:src=>"images/ux_icon.png"}
						%h4
							UX
						%p
							Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
			.col-md-4.col-sm-4
				.padded
					%img.margin-bottom.home-icon{:src=>"images/design_icon.png"}
						%h4
							Design
						%p
							Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
			.col-md-4.col-sm-4
				.padded
					%img.margin-bottom.home-icon{:src=>"images/dev_icon.png"}
						%h4
							Develop
						%p
							Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
= partial "layouts/work_menu"
= partial "layouts/dribbble"