:javascript
	$(function() {
		$('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top-50
				}, 1500);
				return false;
			}
		}
		});
	});

%section.primary-bg.invert-section
	.container
		.row
			.col-md-8.col-sm-8
				%h1.text-uppercase
					Design
					%br 
					Is more than
					%br
					pretty pixels
				%h3.double-margin-bottom
					It is an exciting approach to solving problems. Let's have some fun solving yours. 
				%a.btn.btn-xl.btn-default.btn-invert.double-margin-bottom#see{:href=>"#work"}
					See the Work
			.col-md-4.col-sm-4
				%img.max-width{:src=>"images/wire.png"}
%section
	.container
		.row.double-margin-bottom
			.col-md-1.col-sm-1
			.col-md-10.col-sm-10
				.text-center
					%h2
						Let's build a better web. I am proud to offer a full spectrum of design solutions. 
			.col-md-1.col-sm-1
		.row
			.col-md-4.col-sm-4
				.padded
					%img.double-margin-bottom.home-icon{:src=>"images/ux_icon.png"}
						%h4
							UX
						%p
							A good user interface should not only be functional, but pleasant to. Let's raise the bar and create a better experience.
						%a.arrow{:href=>"wli.html"}
							View something I made better
			.col-md-4.col-sm-4
				.padded
					%img.double-margin-bottom.home-icon{:src=>"images/design_icon.png"}
						%h4
							Product Design
						%p
							Did I mention design solves problems? Let's asses your needs, explore a strategy and create something beautiful. 
						%a.arrow{:href=>"makeena.html"}
							See a problem I solved beautifully 
			.col-md-4.col-sm-4
				.padded
					%img.double-margin-bottom.home-icon{:src=>"images/dev_icon.png"}
						%h4
							Develop
						%p
							Once you problem is solved, let's implement it. At this point, bringing your idea to life is all about nailing the details, however large or small.
						%a.arrow{:href=>"ucps.html"}
							Explore something I've built 
#work
	= partial "layouts/work_menu"
= partial "layouts/dribbble"