:javascript
	$(function() {
		$('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top-50
				}, 1500);
				return false;
			}
		}
		});
	});

%section.primary-bg.invert-section
	.container
		.row
			.col-md-8.col-sm-8
				%h1.text-uppercase
					Strikingly Different
					%br
					From the Rest
				%h3.double-margin-bottom
					Welcome to the design portfolio of Alex Lauderdale.
					%br 
					I offer web development & design services.
				%a.btn.btn-xl.btn-default.btn-invert.double-margin-bottom#see{:href=>"#work"}
					See The Work
			.col-md-4.col-sm-4
				%img.max-width{:src=>"images/wire.png"}
%section
	.container
		.row.double-margin-bottom
			.col-md-1.col-sm-1
			.col-md-10.col-sm-10
				.text-center
					%h2
						Imagine a better web.
					%h3
						I love the internet! I specialize in web and mobile design. If you need, I can build things to. 
			.col-md-1.col-sm-1
		.row
			.col-md-4.col-sm-4
				.padded
					%img.double-margin-bottom.home-icon{:src=>"images/design_icon.png"}
						%h4
							Branding
						%p
							A good brand tells a story. Let's work together to communicate yours. After gathering information about your brand.I work closely with you to bring your vision to life. 
			.col-md-4.col-sm-4
				.padded
					%img.double-margin-bottom.home-icon{:src=>"images/ux_icon.png"}
						%h4
							UX
						%p
							Behind every great idea is a problem to solve. It is my mission to provide elegant UI solutions, so your idea can shine as simply and beautifully as possible. 
			.col-md-4.col-sm-4
				.padded
					%img.double-margin-bottom.home-icon{:src=>"images/dev_icon.png"}
						%h4
							Develop
						%p
							My skills don't end in photoshop. I can build your website and custom fit it with a CMS designed specifically for your needs. If your project requires more horsepower than I can provide. I know someone who can.
#work
	= partial "layouts/work_menu"
= partial "layouts/dribbble"