%section.invert-section.primary-bg.bg-cover{:style=>"background-image:url(images/logo_bg.jpg); background-position:bottom bottom;"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							A Solid Foundation
						%h3
							Select logos from past clients.
						.divider
%section
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_deyrd.png"}
					.triple-padding-bottom
					.triple-padding-bottom


%section
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_gradea.png"}
					.triple-padding-bottom
					.triple-padding-bottom


%section.invert-section{:style=>"background-color:#3b3e47;"}
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_trichome.png"}
					.triple-padding-bottom
					.triple-padding-bottom
%section
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_makeena.png"}
					.triple-padding-bottom
					.triple-padding-bottom
%section
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_hpi.png"}
					.triple-padding-bottom
					.triple-padding-bottom
%section
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_jodihynds.png"}
					.triple-padding-bottom
					.triple-padding-bottom


%section.invert-section{:style=>"background-color:#2c383e;"}
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_mianzi.png"}
					.triple-padding-bottom
					.triple-padding-bottom


%section
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_ncaac.png"}
					.triple-padding-bottom
					.triple-padding-bottom

%section{:style=>"background:#782f8d;"}
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_recruit_u.png"}
					.triple-padding-bottom
					.triple-padding-bottom


%section
	.container
		.row
			.col-md-12
				.text-center
					.triple-padding-top
					.triple-padding-top
					%img.max-width{:src=>"images/logos/logo_impact.png"}
					.triple-padding-bottom
					.triple-padding-bottom

= partial "layouts/work_slider"