%section.invert-section.primary-bg.bg-cover{:style=>"background-image:url(images/logo_bg.jpg); background-position:bottom bottom;"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							A Solid Foundation
						%h3
							Select logos from past clients
						.divider
		.row
			.col-md-12.col-sm-12
				%h4
					About the logos
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis. 
%section
	.container
		.row
			.col-md-4.col-sm-4
				%h4.text-uppercase
					Deyrd
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
				%img.max-width.double-margin-bottom{:src=>"images/color_deyrd.png"}
			.col-md-2.col-sm-2
			.col-md-6.col-sm-6
				%img.max-width.pull-right{:src=>"images/logo_deyrd.png"}
%section{:style=>"background-color:#fff4e3;"}
	.container
		.row
			.col-md-4.col-sm-4
				%h4.text-uppercase
					Grade a cafe
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
				%img.max-width.double-margin-bottom{:src=>"images/color_gradea.png"}
			.col-md-2.col-sm-2
			.col-md-6.col-sm-6
				%img.max-width.pull-right{:src=>"images/logo_gradea.png"}
%section.invert-section{:style=>"background-color:#3b3e47;"}
	.container
		.row
			.col-md-4.col-sm-4
				%h4.text-uppercase
					Trichome
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
				%img.max-width.double-margin-bottom{:src=>"images/color_trichome.png"}
			.col-md-2.col-sm-2
			.col-md-6.col-sm-6
				%img.max-width.pull-right{:src=>"images/logo_trichome.png"}
%section
	.container
		.row
			.col-md-4.col-sm-4
				%h4.text-uppercase
					Makeena
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
				%img.max-width.double-margin-bottom{:src=>"images/color_makeena.png"}
			.col-md-2.col-sm-2
			.col-md-6.col-sm-6
				%img.max-width.pull-right{:src=>"images/logo_makeena.png"}
%section{:style=>"background-color:#f2f2f2;"}
	.container
		.row
			.col-md-4.col-sm-4
				%h4.text-uppercase
					HOMELESSNESS PREVENTION INITIATIVE
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
				%img.max-width.double-margin-bottom{:src=>"images/color_hpi.png"}
			.col-md-2.col-sm-2
			.col-md-6.col-sm-6
				%img.max-width.pull-right{:src=>"images/logo_hpi.png"}
%section
	.container
		.row
			.col-md-4.col-sm-4
				%h4.text-uppercase
					JODI HYNDS PHOTOGRAPHY
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
				%img.max-width.double-margin-bottom{:src=>"images/color_jodu.png"}
			.col-md-2.col-sm-2
			.col-md-6.col-sm-6
				%img.max-width.pull-right{:src=>"images/logo_jodihynds.png"}
%section.invert-section{:style=>"background-color:#2c383e;"}
	.container
		.row
			.col-md-4.col-sm-4
				%h4.text-uppercase
					Mianzi
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
				%img.max-width.double-margin-bottom{:src=>"images/color_mianzi.png"}
			.col-md-2.col-sm-2
			.col-md-6.col-sm-6
				%img.max-width.pull-right{:src=>"images/logo_mianzi.png"}
%section
	.container
		.row
			.col-md-4.col-sm-4
				%h4.text-uppercase
					NORTHERN COLORADO ALLERGY & ASTHMA CLINIC
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
				%img.max-width.double-margin-bottom{:src=>"images/color_ncaac.png"}
			.col-md-2.col-sm-2
			.col-md-6.col-sm-6
				%img.max-width.pull-right{:src=>"images/logo_ncaac.png"}

