%section.invert-section{:style=>"background-color:#ef7738;"}
	.container
		.row.triple-margin-bottom
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Save. Redeem. Learn. Plan.
						%h3
							Connecting brands and shoppers
						.row
							.col-lg-12
								%img.max-width.no-margin-bottom.margin-top{:src=>"images/makeena_app_2.png"}
						.divider
		.row
			.col-md-6.col-sm-6
				%h4
					About the Project
				%p
					makkena is an application designed to connect shoppers and brands. With location based services, the app allows shoppers to quickly find coupons wherever they are.
			.col-md-6.col-sm-6
				%h4
					My Role
				%p
					Starting with the logo, we worked to build a playful brand extending beyond the itunes store. After bringing the brand to life, I lead the app design effort, thinking through UI problems and design challenges. 
%section.no-padding-bottom
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Letting the logo out of the bag
					%h3
						From the beginning, we envisioned a versatile logo. the mark captures the overlap of the brand and the shopper, while encompassing the utility of a shopping bag.
			.col-md-2
		.row
			.col-md-12
				.text-center
					%img.max-width.triple-margin-top{:src=>"images/makeena_logos.png"}
%section.invert-section.bg-cover{:style=>"background-image:url(images/makeena_thumbnails.png); min-height:700px;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						A Lasting Impression.
					%h3
						The mark was designed to work with all facets of the brand. The tone set by the logo was expanded into an icon language. 
	.col-md-2
%section
	.container
		.row
			.col-md-2
			.col-md-8
				%img.full-width{:src=>"images/makeena_icons.png"}
			.col-md-2

%section.invert-section.no-padding-bottom{:style=>"background:#2592c8;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						It's Alive!
					%h3
						To accompany the beta release of the app, we developed a simple marketing page to allow users to sign up, and brands to learn more. 
			.col-md-2
		.row
			.col-md-2
			.col-md-8
				%img.full-width.triple-margin-top{:src=>"images/makeena_web.png"}
			.col-md-2
%section
	.container
		.row
			.col-md-2
			.col-md-8
				%img.full-width{:src=>"images/makeena_print.png"}
			.col-md-2
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						The App
					%h3
						The app was designed to be approachable and fun, appealing to all age groups. We kept the design light, so the brands could shine. Never to be overwhelmed by the brand of makeena itself.
			.col-md-2
		.row
			.col-md-12
				%img.full-width.triple-margin-top{:src=>"images/makeena_app.png"}
= partial "layouts/work_slider"