%section.invert-section.bg-cover{:style=>"background-image:url(images/mianzi_intro_bg.jpg);"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Sketch After Sketch After...
						%h3
							Designing the face of a bike company
						.divider
		.row
			.col-md-8.col-sm-8
				%h4
					About the project
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis. 
			.col-md-4.col-sm-4
				%h4
					Our role
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
%section.invert-section{:style=>"background-color:#2c383e;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Narrowing it down
					%h3
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.triple-margin-bottom.triple-margin-top{:src=>"images/mianzi_logos.png"}
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						The Solution
					%h3.triple-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam.
			.col-md-2
		.row
			.col-md-3
			.col-md-6
				%img.full-width.triple-margin-top{:src=>"images/mianzi_logo.png"}
			.col-md-3
%section.no-padding-bottom{:style=>"background:url(images/mianzi_bike.jpg) bottom center no-repeat;padding-top:270px;"}
	.container
		.row
			.col-md-4
				.text-center.gray-text-box.white-text.padded
					%img.margin-bottom.text-center.padding-top{:src=>"images/mianzi_white_gear.png"}
					%h2
						One for three.
					%p
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat 
			.col-md-8
%section.invert-section{:style=>"background: url(images/mianzi_bg.jpg)#bd5327 center top no-repeat;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center.white-text
					%blockquote
						“Thank you for bringing our company to life!”
			.col-md-2
		.row
			.col-md-2
			.col-md-8
				%img.full-width.triple-margin-bottom{:src=>"images/mianzi_cards.png"}
				%img.full-width.margin-bottom{:src=>"images/mianzi_ad.jpg"}
			.col-md-2
%section.no-padding-top.no-padding-bottom
	.container
		.row
			.col-md-2
			.col-md-8
				%img.full-width{:src=>"images/mianzi_shirts.png"}
			.col-md-2

= partial "layouts/work_slider"