%section.invert-section.bg-cover{:style=>"background-image:url(images/outflow_intro_bg.png);"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Every city tells a story.
						%h3
							Helping a leadership firm tell theirs
						.row
							.col-md-1
							.col-md-10
								%img.max-width.margin-bottom{:src=>"images/outflow_teaser.png"}
							.col-md-1
						.divider
		.row
			.col-md-6.col-sm-6
				%h4
					About the project
				%p
					Outflow offers leadership development services to urban organizations in need. They are a forward thinking organization with loads of passion an optimism. They aim to connect people in cities through positivity and group effort. Their soul mission is to define the need for leadership, provide meaningful connection. 
			.col-md-6.col-sm-6
				%h4
					My Role
				%p
					Outflow hired me to help define their voice and develop their website. They required a simple website design that allowed them to voice their mission and collect donations from people passionate about the cause. 

%section
	.container
		.row
			.col-md-1
			.col-md-10
				%img.max-width.margin-bottom{:src=>"images/outflow_quote.jpg"}
			.col-md-1
%section.invert-section{:style=>"background-color:#f33a2c;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Long Term Solutions
					%h3.triple-margin-bottom
						We designed the site to be simple. We wanted users to quickly connect with the story of the Outflow. The site was custom fit with a CMS so they could update content as their mission evolved.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.max-width.margin-bottom{:src=>"images/outflow_site.jpg"}
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Giving Back
					%h3.triple-margin-bottom
						We built in a donation platform, allowing users to easily give to the organization. The site was optimized for all device sizes.
					%a.btn.btn-xl.btn-default.triple-margin-bottom{:target=>"blank",:href=>"http://www.outflow.org", :style=>"border-color:#f33a2c; color:#f33a2c;"}
						View the site
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.max-width.margin-bottom{:src=>"images/outflow_mobile.jpg"}
			.col-md-1

= partial "layouts/work_slider"

				
