%section.invert-section.bg-cover{:style=>"background-image:url(images/outflow_intro_bg.png);"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h2
							Every city tells a story.
						%h3
							Helping a leadership firm tell theirs
						.row
							.col-md-1
							.col-md-10
								%img.full-width.margin-bottom{:src=>"images/outflow_teaser.png"}
							.col-md-1
						.divider
		.row
			.col-md-8.col-sm-8
				%h4
					About the project
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis. 
			.col-md-4.col-sm-4
				%h4
					Our Role
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Outflow
					%h3.double-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/outflow_quote.jpg"}
			.col-md-1
%section.invert-section{:style=>"background-color:#f33a2c;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Long Term Solutions
					%h3.triple-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/outflow_site.jpg"}
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Giving Back
					%h3
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
					%a.btn.btn-xl.btn-default.triple-margin-bottom{:target=>"blank",:href=>"http://www.wealthlegacyinstitute.com", :style=>"border-color:#f33a2c; color:#f33a2c;"}
						View the site
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/outflow_mobile.jpg"}
			.col-md-1



				
