%section.invert-section.bg-cover{:style=>"background-image:url(images/recruit_u/recruit_u_hero_bg.png); background-position:bottom bottom;"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Recruit U
						%h3
							Giving Students a Head Start
						.divider
		.row
			.col-md-8.col-sm-8
				%h4
					About the project
				%p
					Recruit U is an iPhone app designed to help students connect to College athletic programs based on a wide range qualifications. The app gives students and coaches direct contact to one another. 
			.col-md-4.col-sm-4
				%h4
					My role
				%p
					I was hired to design the look and feel or Recruit U.Working closely with the developers, we aimed to build a simple app, on par with Apple's IOS 7 human interface guidelines.
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Hitting the Mark
					%h3
						The recruit U mark was designed to symbolize stability and strength, with the student and university at the center.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				.text-center
					%img.max-width.triple-margin-top.triple-margin-bottom{:src=>"images/recruit_u/recruit_u_logo.png"}
			.col-md-1
%section.invert-section{:style=>"background:#7c328f"}
	.container
		.row
			.col-md-2
			.col-md-8
				%img.full-width.triple-margin-top.no-margin-bottom{:src=>"images/recruit_u/recruit_u_dna.png"}
			.col-md-2
%section.invert-section{:style=>"background:#7c328furl(images/recruit_u/display.png) bottom"}
	.double-padding-top
	.double-padding-bottom
%section.invert-section.no-padding-top{:style=>"background:#7c328f"}
%section
	.container
		.row
			.col-md-1
			.col-md-10
				.text-center
					%img.max-width.triple-margin-top.no-margin-bottom{:src=>"images/recruit_u/icons.png"}
			.col-md-1
%section.no-padding-bottom
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						The App
					%h3
						Making it’s way into multiple news articles and reviews, the app functions beautifully. Both for the ambitious athlete and talent hungry coach.
					%img.max-width.double-margin-top.double-margin-bottom{:src=>"images/recruit_u/app_icons.png"}
					%img.max-width.triple-margin-top.double-margin-bottom.visible-sm{:src=>"images/recruit_u/hand_app.png"}
			.col-md-2
%section.hidden-sm.hidden-xs{:style=>"background:url(images/recruit_u/hand_app.png) bottom center repeat-x"}
	.container
		.row
			.col-md-2
			.col-md-8
				.double-padding-top.double-padding-bottom
				.double-padding-top.double-padding-bottom
				.double-padding-top.double-padding-bottom
				.double-padding-top.double-padding-bottom
			.col-md-2
%section.invert-section{:style=>"background:#7c328f"}
	.container
		.row
			.col-md-2
			.col-md-8
				%img.full-width.padding-top{:src=>"images/recruit_u/phones.png"}
			.col-md-2
= partial "layouts/work_slider"