%section.invert-section{:style=>"background-color:#282828;"}
	.container
		.row.triple-margin-bottom
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Designed. Developed. Delivered.
						%h3
							Select sites i’ve had the pleasure of designing 
							%span.extra-bold-font-name
								and building.
						.row
							.col-lg-12
								%img.max-width.no-margin-bottom.margin-top{:src=>"images/sites/intro.png"}
						.divider
		.row
			.col-sm-12
				%h4
					About the Sites
				%p
					I built all of the sites below including the one you are viewing right this second with love & care. The sites were developed using some combination of our good friends HTML5, CSS3, Wordpress, Ruby on Rails, and Middleman. Many of them are complete with a custom backend, designed specifically for the client's needs. Allowing for easy management of content with no coding skills required. If you like, I can build one for you to.

%section.invert-section.no-padding-bottom{:style=>"background:#f26223;"}
	.container
		.row
			.col-md-5
				%h2
					Suerte Tequilla
				%p
					Suerte is a tequila manufacturer based out of Boulder Colorado. Together we built a site that with hot new drink recipes, new images and videos, press mentions and even an online store!  
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://drinksuerte.com/"}
					View The Site
			.col-md-7
				%img.full-width{:src=>"images/sites/suerte.png"}



%section.invert-section.no-padding-bottom{:style=>"background:#0089bc;"}
	.container
		.row
			.col-md-5
				%h2
					Wellhire
				%p
					Wellhire offers tools for people looking to hire the perfect candidate. We worked to completely re-imagine their public marketing site and backend UI.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://wellhire.com/"}
					View The Site
			.col-md-7
				%img.full-width{:src=>"images/sites/wellhire.png"}

%section.invert-section.no-padding-bottom{:style=>"background:#cbb778;"}
	.container
		.row

			.col-md-5
				%h2
					Wealth Legacy Institute
				%p
					Wealth Legacy Institute is a nationally recognized independent wealth management firm in Denver, CO. They offer an integrated, principle-centered, values-based approach to wealth management. WLI is committed to helping clients reach their financial goals.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://wealthlegacyinstitute.com/"}
					View The Site
			.col-md-7
				%img.full-width{:src=>"images/sites/wli.png"}

%section.invert-section.no-padding-bottom{:style=>"background:#a5c73f;"}
	.container
		.row
			.col-md-5
				%h2
					90 Monkeys Yoga
				%p
					90 monkeys needed a site with the ability to push up to the minute events, company updates & health related articles. We used Wordpress to give them a custom CMS dashboard that was easy to use and update.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://90monkeys.com/"}
					View The Site
			.col-md-7
				%img.full-width{:src=>"images/sites/90.png"}


%section.invert-section.no-padding-bottom{:style=>"background:#256db2;"}
	.container
		.row

			.col-md-5
				%h2
					Union Colony Prep School
				%p
					I worked with UCPS to build a systematic web design approach aimed to best serve the students and parents. I delivered a fresh website with an emphasis on content and school info.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://unioncolonyschools.org/"}
					View The Site
			.col-md-7
				%img.full-width{:src=>"images/sites/ucps.png"}


%section.invert-section.no-padding-bottom{:style=>"background:#e73d2a;"}
	.container
		.row
			.col-md-5
				%h2
					Outflow
				%p
					Outflow hired me to help define their voice and develop their website. They required a simple website design that allowed them to voice their mission and collect donations from people passionate about the cause.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://outflow.org/"}
					View The Site
			.col-md-7
				%img.full-width{:src=>"images/sites/outflow.png"}


%section.invert-section.no-padding-bottom{:style=>"background:#fcb546;"}
	.container
		.row

			.col-md-5
				%h2
					Victor Ops
				%p
					I worked with victor ops to develop a simple marketing site aimed at providing info about the company and founders.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://victorops.com/"}
					View The Site

			.col-md-7
				%img.full-width{:src=>"images/sites/vo.png"}


%section.invert-section.no-padding-bottom{:style=>"background:#f59331;"}
	.container
		.row
			.col-md-5
				%h2
					Scribb co Working Space
				%p
					Scribb offers a state of the art co working space in Boulder Colorado. They asked for a simple site that could list contributors and company information.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://scrib.co/"}
					View The Site
			.col-md-7
				%img.full-width{:src=>"images/sites/scribb.png"}


%section.invert-section.no-padding-bottom{:style=>"background:#fa3063;"}
	.container
		.row

			.col-md-5
				%h2
					Klip Collective
				%p
					Klipz is a social network for musicians, offering collaboration through 30 second “klip” uploads. It’s like dribbble for musicians.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://www.klipcollective.com/"}
					View The Site

			.col-md-7
				%img.full-width{:src=>"images/sites/klipz.png"}


%section.invert-section.no-padding-bottom{:style=>"background:#282828;"}
	.container
		.row
			.col-md-5
				%h2
					Fascat Coaching
				%p
					I worked with fascat to develop a simple marjeting site designed to highlight their amazing coaching staff.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://eternalcontrast.com/fastcat"}
					View The Site
			.col-md-7
				%img.full-width{:src=>"images/sites/fascat.png"}

%section.invert-section.no-padding-bottom{:style=>"background:#8ab332;"}
	.container
		.row

			.col-md-5
				%h2
					BOZA
				%p
					Together with BOZA, we designed and built a custom Wordpress theme loaded with a blog, featured content sections, beautiful page layouts and an area for videos.
				%a.btn.btn-invert.btn-xl.margin-bottom.btn-block{:href=>"http://eternalcontrast.com/boza/"}
					View The Site

			.col-md-7
				%img.full-width{:src=>"images/sites/boza.png"}

= partial "layouts/work_slider"