%section{:style=>"background-color:#f2f2f2;"}
	.container
		.row.triple-margin-bottom
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							One School To Rule Them All
						%h3
							Giving back to my high school.
						.row
							.col-lg-2
							.col-lg-8
								%img.max-width.no-margin-bottom.margin-top{:src=>"images/ucps_screen.png"}
							.col-lg-2
						.divider
		.row
			.col-md-8.col-sm-8
				%h4
					About the project
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis. 
			.col-md-4.col-sm-4
				%h4
					Our Role
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						The Road Less Traveled
					%h3
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat 
			.col-md-2
		.row
			.col-md-4
			.col-md-4
				.text-center
					%img.max-width.triple-margin-bottom.triple-margin-top{:src=>"images/ucps_logo.jpg"}
			.col-md-4
%section.invert-section.no-padding-bottom{:style=>"background:#0055a5;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Long Term Solutions.
					%h3.triple-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat 
					%a.btn.btn-xl.btn-default.btn-invert.double-margin-bottom{:href=>"#work"}
						View the Site
			.col-md-2
		.row
			.col-md-2
			.col-md-8
				%img.full-width.triple-margin-top{:src=>"images/ucps_site.png"}
			.col-md-2
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2.triple-margin-bottom
						Connecting Parents & Teachers
				.row.double-margin-bottom
					.col-md-6.col-sm-6
						.row
							.col-md-3.col-sm-3
								%img.max-width.margin-bottom{:src=>"images/ucps_pencil.jpg"}
							.col-md-9.col-sm-9
								%h3
									Custom CMS
								%p
									Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
					.col-md-6.col-sm-6
						.row.margin-bottom
							.col-md-3.col-sm-3
								%img.max-width.margin-bottom{:src=>"images/ucps_paper.jpg"}
							.col-md-9.col-sm-9
								%h3
									Custom CMS
								%p
									Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
				.row
					.col-md-6.col-sm-6
						.row
							.col-md-3.col-sm-3
								%img.max-width.margin-bottom{:src=>"images/ucps_clock.jpg"}
							.col-md-9.col-sm-9
								%h3
									Custom CMS
								%p
									Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
					.col-md-6.col-sm-6
						.row
							.col-md-3.col-sm-3
								%img.max-width.margin-bottom{:src=>"images/ucps_cloud.jpg"}
							.col-md-9.col-sm-9
								%h3
									Custom CMS
								%p
									Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
			.col-md-2
%section.no-padding-top
	.container
		.row
			.col-lg-12
				%img.full-width{:src=>"images/ucps_ipad_full.jpg"}
				%blockquote.text-center{style:"color:#0055a5;"}
					"We love it!"