%section{:style=>"background-color:#f2f2f2;"}
	.container
		.row.triple-margin-bottom
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							One School To Rule Them All
						%h3
							Giving back to my high school.
						.row
							.col-lg-2
							.col-lg-8
								%img.max-width.no-margin-bottom.margin-top{:src=>"images/ucps_screen.png"}
							.col-lg-2
						.divider
		.row
			.col-md-6.col-sm-6
				%h4
					About the project
				%p
					I was hired by Union Colony Preparatory School to completely re-imagine their website. Their existing site had been outdated for some time, and they were seeking a fresh perspective on their web presence.  
			.col-md-6.col-sm-6
				%h4
					My Role
				%p
					I worked with UCPS to build a systematic web design approach aimed to best serve the students and parents. I delivered a fresh website with an emphasis on content and school info. 
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						The Road Less Traveled
					%h3
						The school had recently opened  a new location to support more students. We designed  the site to allow easy access to both schools, with a simple sidebar navigation to support links to individual school areas. This way each school had their own presence encompassed by an overall feeling of unity with the organizations brand and mission.
			.col-md-2
		.row
			.col-md-4
			.col-md-4
				.text-center
					%img.max-width.triple-margin-bottom.triple-margin-top{:src=>"images/ucps_logo.jpg"}
			.col-md-4
%section.invert-section.no-padding-bottom{:style=>"background:#0055a5;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Long Term Solutions.
					%h3.triple-margin-bottom
						We fitted the new site with a custom Wordpress backend, allowing admins and teachers to easily update the content on the site. Including events, teacher bios and news
					%a.btn.btn-xl.btn-default.btn-invert.double-margin-bottom{:href=>"http://www.unioncolonyschools.org/"}
						View the Site
			.col-md-2
		.row
			.col-md-2
			.col-md-8
				%img.full-width.triple-margin-top{:src=>"images/ucps_site.png"}
			.col-md-2
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2.triple-margin-bottom
						Connecting Parents & Teachers
				.row.double-margin-bottom
					.col-md-6.col-sm-6
						.row
							.col-md-3.col-sm-3
								%img.max-width.margin-bottom{:src=>"images/ucps_pencil.jpg"}
							.col-md-9.col-sm-9
								%h3
									Custom CMS
								%p
									Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
					.col-md-6.col-sm-6
						.row.margin-bottom
							.col-md-3.col-sm-3
								%img.max-width.margin-bottom{:src=>"images/ucps_paper.jpg"}
							.col-md-9.col-sm-9
								%h3
									Custom CMS
								%p
									Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
				.row
					.col-md-6.col-sm-6
						.row
							.col-md-3.col-sm-3
								%img.max-width.margin-bottom{:src=>"images/ucps_clock.jpg"}
							.col-md-9.col-sm-9
								%h3
									Custom CMS
								%p
									Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
					.col-md-6.col-sm-6
						.row
							.col-md-3.col-sm-3
								%img.max-width.margin-bottom{:src=>"images/ucps_cloud.jpg"}
							.col-md-9.col-sm-9
								%h3
									Custom CMS
								%p
									Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis 
			.col-md-2
%section.no-padding-top
	.container
		.row
			.col-lg-12
				%img.full-width{:src=>"images/ucps_ipad_full.jpg"}
				%blockquote.text-center{style:"color:#0055a5;"}
					"We love it!"
= partial "layouts/work_slider"