%section{:style=>"background-color:#f2f2f2;"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Clarity, Confidence & Peace of Mind
						%h3
							The new voice of an independent wealth management firm.
						%img.full-width.margin-bottom{:src=>"images/wli_trees.jpeg"}
						.divider
		.row
			.col-md-8.col-sm-8
				%h4
					About The Client
				%p
					Wealth Legacy Institute is a nationally recognized independent wealth management firm committed to helping costumers live the life they imagine and leave the legacy they envision.
				%p
					They offer an integrated, principle-centered, values-based approach to wealth management, because life is more than financial statements, estate tax tables and “running the numbers.”
			.col-md-4.col-sm-4
				%h4
					My Role
				%p
					I was hired by WLI to re-imagine their brand. We worked to slim down their website and let loose a fresh look. In addition, we developed a global design language, resulting in an updated brand that appealed to modern times, while staying true to the company’s roots. 
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						A Fresh Start
					%p
						We developed an approach aimed to tone down the meat of the site to a few digestible pages. Because we didn’t want to loose the content we removed, we built a blog system, and staged the content for future articles. This allowed WLI to keep their blog from getting stale.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_sheets.jpg"}
			.col-md-1
%section.invert-section{:style=>"background-color:#cbb778;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Simplicity is Simple.
					%h3.triple-margin-bottom
						Our design approach explored an open, approachable layout anchored by a professional and confidant palette. 
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_site.jpg"}
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						A Quick Overview
					%h3.triple-margin-bottom
						Because we stripped out so much. We were able to give each page a refined look and feel. We allowed viewers to connect with the story of the company quickly and easily.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_sub.jpg"}
			.col-md-1
%section
	.container
		.row
			.col-md-1.col-sm-1
			.col-md-5.col-sm-5
				%h2
					Advice to go
				%p.double-margin-bottom
					We designed the site to be responsive down to mobile. We wanted new visitors and loyal blog readers to have a tailored experience wherever they were.
				%a.btn.btn-xl.btn-default.double-margin-bottom{:target=>"blank",:href=>"http://www.wealthlegacyinstitute.com", :style=>"border-color:#cbb778; color:#cbb778;"}
					View the site
			.col-md-1.col-sm-1
			.col-md-4.col-sm-4
				%img.full-width.margin-bottom{:src=>"images/wli_phone.jpg"}
			.col-md-1.col-sm-1
%section.invert-section{:style=>"background-color:#cbb778;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						For Print
					%h3.triple-margin-bottom
						We took the fresh baked design language and translated it into print documentation. Then we developed a style guide for future use.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_print.png"}
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%blockquote{:style=>"color:#cbb778;"}
						"We Found Our Voice"
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_guide.jpg"}
			.col-md-1


				
