%section{:style=>"background-color:#f2f2f2;"}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Clarity, Confidence & Peace of Mind
						%h3
							The new voice of an independent wealth management firm.
						%img.full-width.margin-bottom{:src=>"images/wli_trees.jpeg"}
						.divider
		.row
			.col-md-8.col-sm-8
				%h4
					About the project
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis. 
			.col-md-4.col-sm-4
				%h4
					Our Role
				%p
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						A Fresh Start
					%h3
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_sheets.jpg"}
			.col-md-1
%section.invert-section{:style=>"background-color:#cbb778;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						Simplicity is Simple.
					%h3.triple-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_site.jpg"}
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						A Quick Overview
					%h3.triple-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_sub.jpg"}
			.col-md-1
%section
	.container
		.row
			.col-md-1.col-sm-1
			.col-md-5.col-sm-5
				%h2
					Advice to go
				%p.double-margin-bottom
					Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat, non pharetra metus auctor. Pellentesque venenatis Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat 
				%a.btn.btn-xl.btn-default.double-margin-bottom{:target=>"blank",:href=>"http://www.wealthlegacyinstitute.com", :style=>"border-color:#cbb778; color:#cbb778;"}
					View the site
			.col-md-1.col-sm-1
			.col-md-4.col-sm-4
				%img.full-width.margin-bottom{:src=>"images/wli_phone.jpg"}
			.col-md-1.col-sm-1
%section.invert-section{:style=>"background-color:#302b29;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						For Print
					%h3.triple-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_print.png"}
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%blockquote{:style=>"color:#cbb778;"}
						"We Found Our Voice"
					%h3.triple-margin-bottom
						Mauris erat orci, gravida at tortor eu, dictum congue quam. Aliquam feugiat quam ac dolor feugiat.
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.full-width.margin-bottom{:src=>"images/wli_guide.jpg"}
			.col-md-1


				
